/*
 * DB-SVG Copyright 2009 Derrick Bowen
 *
 * This file is part of DB-SVG.
 *
 *   DB-SVG is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   DB-SVG is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with DB-SVG.  If not, see <http://www.gnu.org/licenses/>.
 */

/********************** Application-wide Styles *********************/
body,html {
    margin: 0px;
    color:#17212c;
    background-color:#e0e0da;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}
.modelContentBox, .contentBoxMenu, .setupContentBox {
    padding: 4px;
    padding-left: 10px;
}
h1 {
    padding:5px !important;
    padding-bottom:18px !important;
    margin:0px;
    font-size:1.8em !important;
    color: #b6c6ce;
    text-shadow: 2px 2px 2px #222;
}
h2 {
    padding:5px !important;
    margin:0px;
    font-size:1.2em !important;
    color: #4c4a41;
}
h3 {
    padding:2px ;
    padding-left:10px;
    margin:0px;
    font-size:1.2em !important;
    color: #4c4a41;
}
h4 {
    padding:2px ;
    padding-left:10px;
    padding-top:8px;
    margin:0px;
    font-size:1em !important;
    color: #4c4a41;
}
a {
    color:#444444;
    text-decoration: none;
}
a:hover {
    color:#666666;
    text-decoration: underline;
}
ul {
    margin:0px;
}

/**********************  Title Styles  **********************/
.titleHeader {
    background-image: url(../images/title_bg.png);
    background-repeat: repeat-x;
    height: 50px;
    width:100%;
}
.titleLeft {
    float:left;
    background-image: url(../images/title_left_bg.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 20px;
}
.titleRight {
    float:right;
    background-image: url(../images/title_right_bg.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 20px;
}
.titleBody {
    padding: 4px;
    padding-left: 10px;
}

/**********************  Top Page Menu/Tab Styles  **********************/
.menu {
    padding:2px;
    margin-bottom:5px;
}
.menu a {
    font-size:small;
    color:#444444;
    background-color: #dfdfdf;
    text-decoration: none;
    border: solid 1px #cdcdcd;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:3px;
    margin:1px;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
}
.menu a:hover {
    color:#333333;
    background-color: #d8d8dd;
    border: solid 1px #a1a1a1;
    -o-box-shadow: 2px 2px 5px #d1d1d1;
    -icab-box-shadow: 2px 2px 5px #d1d1d1;
    -khtml-box-shadow: 2px 2px 5px #d1d1d1;
    -moz-box-shadow: 2px 2px 5px #d1d1d1;
    -webkit-box-shadow: 2px 2px 5px #d1d1d1;
}
.tablayer {
    font-size:small;
    padding-right:15px;
}
.tablayer a {
    margin-top:-4px;
    float:right;
    padding-right:5px;
    text-decoration: none !important;
}
.tab {
    background-color: #d8dcdd;
    border:1px solid #444;
    border-top:0px;
    width:auto;
    padding:5px;
    padding-top:0px;
    padding-bottom:6px;
    height:1em;
     -moz-border-radius: 0px 0px 10px 10px;
     -webkit-border-radius: 0px 0px 10px 10px;
    -o-box-shadow: 2px 2px 1px #AAA;
    -icab-box-shadow: 2px 2px 3px #CCC;
    -khtml-box-shadow: 2px 2px 3px #CCC;
    -moz-box-shadow: 2px 2px 3px #CCC;
    -webkit-box-shadow: 2px 2px 3px #CCC;

}
.tab:hover {
    color:#333333;
    background-color: #c8d2d4;
}

/**********************  Main Front Menu Styles  **********************/
.frontmenusetup a {
    margin-left:.7em;
    color:#888888;
    text-decoration: none;
}
.frontmenuremove a {
    margin-left:.4em;
    color:#888888;
    text-decoration: none;
}
.frontmenusetup a:hover, .frontmenuremove a:hover {
    color:#AAAAAA;
    text-decoration: none;
}
.frontmenulist li {
    margin: 10px 5px;
}
li.frontmenuadd {
    list-style: none;
}
.frontmenuadd a, a.frontmenuedit {
    color:#888888;
    text-decoration: none;
}
.frontmenuadd a:hover, a.frontmenuedit:hover {
    color:#666666;
    text-decoration: none;
}
#loadDialog, #addDialog, #removeDialog, #editConnDialog {
    font-size:.8em !important;
}
#loadDialog p {
    padding-top:10px;
}
form label {
    display: block;
    float:left;
    width:80px;
    text-align: right;
    margin-right: 10px;
    margin-top: 4px;
}
input[type=text], input[type=password] {
    border: 1px solid #999999;
    font-size: 70%;
    padding: 2px;
    color:#333333;
    width:270px;
}

/**********************  Model View Styles  **********************/
.svgdiv { 
    width: 100%;
    height: 300px;
    border: 2px solid #596b72;
}
.svgwrapper{
    width: 99%;
    height: 95%;
    margin:0px;
    margin-right: 10px;
    margin-right: 10px;
    overflow:visible;
}
.svgbox{
    width: 99%;
    height: 95%;
    margin:0px;
    margin-right: 10px;
    margin-right: 10px;
    overflow:visible;
}
#svgwindow {
    width: 99%;
    height: 99%;
    margin-right: 10px;
    margin-right: 10px;
    border: 2px solid #596b72;
    overflow:visible;
}
#svganim { width: 600px; height: 350px; }
#svggraph, #svgplot { height: 500px; }
#svgmix { height: 700px; }
.svgsample { float: left; width: 46%; margin: 1%; overflow: scroll; border: 1px solid #3c8243; padding: 5px; }
.drawOpt { float: left; width: 25%; }
.row { clear: both; }

/**********************  Setup View Styles  **********************/
.info {
    margin:5px;
    padding-left:10px;
    color:#222;
    font-size:small;
}
.info .data {
    color:#555;
}
.info .label {
    font-weight:bold;
    width:7em;
}
.pagesTable {
    border: solid 1px #cccccc;
    padding:10px;
    margin:10px;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
}
.pagesTable td{
    margin:2px;
}
.pagesTable .pagebox{
    text-align:center;
}
.pagesButtons {
    float:right;
    margin-top:2px;
    margin-left:20px;
    margin-right:20px;
}